django
Pillow
easy-thumbnails
django-image-cropping
django-ckeditor
django-phonenumber-field
django-widget-tweaks
django-cleanup
django-modeltranslation
django-rosetta
django-admin-sortable
python-memcached
gunicorn
